body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    max-height: 100%;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    top: 0;
    left: 0;
    border-radius: 2px 0 2px 0;
    position: fixed;
    align-items: center;
}
.logo{
    width: 100px;
    font-size: 25px;
    padding: 20px;
    top: 20px;
    font-weight: bold;
    display: flex;
    height: 100px;
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.logo a {
    text-decoration: none;
    color: black;
     width: 100px;
    font-size: 25px;
    padding: 20px;
    top: 20px;
    font-weight: bold;
    display: flex;
    height: 100px;
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    left: 20px;
    right: 80%;
}
.logo a:hover{
    color: white;
    transition: .5s;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
ul li a:hover{
    color: white;
    transition: .5s;
}
h1{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 100px;
    bottom: 0;
    display: flex;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 5px solid gray;
}
